# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual Environment
venv/
ENV/
env/
.venv/

# Environment Variables
.env
.env.*

# VS Code
.vscode/

# Mac OS
.DS_Store

# Logs
*.log

# Database / Local Storage
*.db
*.sqlite3

# Coverage / Testing
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.cache
.pytest_cache/

# Mypy / Pylint / Pyright
.mypy_cache/
.dmypy.json
.pyre/
.pyright/
